  <br>
<div class="container-fluid container-fixed-lg">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs nav-tabs-simple d-md-flex d-lg-flex d-xl-flex m-b-30" role="tablist">
          <li class="nav-item"><a href="#" class="active" data-toggle="tab" data-target="#longlat" style="margin-right:10px">Input latitude longitude</a></li>
          <li class="nav-item"><a href="#" data-toggle="tab" data-target="#csv" style="margin-right:10px">Upload file CSV</a></li>
          <li class="nav-item"><a href="#" data-toggle="tab" data-target="#excel" style="margin-right:10px">Upload file Excel</a></li>
        </ul>
        <form id="search-location">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="longlat">
              <div class = "formGroup">
                <div class="col-md-6">
                  <br/>
                  <label>Longitude</label>
                  <div>
                    {{input type="text" class="form-control" value =longitude}}
                  </div>
                  <label>Latitude</label>
                  <div>
                    {{input type="text" class="form-control" value =latitude}}
                  </div>
                  <br/>
                  <button {{action "searchLocation"}} class ="btn btn-primary">SUBMIT</button>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="csv">
                <div class = "formGroup">

                <br>
                <br>
                <button {{action "searchLocation"}} class ="btn btn-primary">Upload File CSV</button>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="excel">
                <div class = "formGroup">

                <br>
                <br>
                <button {{action "searchLocation"}} class ="btn btn-primary">Upload File EXCEL</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
