<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div class="container">
  <h2>Search Location Pablo</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#inputll">Input Longitude-Latitude</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#inputcsv">Input File CSV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#inputexcel">Input File Excel</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="inputll" class="container tab-pane active"><br>
      <h3>Input Longitude - Latitude</h3>
      <div class = "formGroup">
        <div class="col-md-6">
          <br/>
          <label>Longitude</label>
          <div>
            {{input type="text" class="form-control" name='longitude' id='longitude' value =longitude}}
          </div>
          <label>Latitude</label>
          <div>
            {{input type="text" class="form-control" name='latitude' id='latitude' value =latitude}}
          </div>
          <br/>
          <button {{action "searchLocation"}} class ="btn btn-primary">SUBMIT</button>
        </div>
      </div>
    </div>
    <div id="inputcsv" class="container tab-pane fade"><br>
      <h3>Input File CSV</h3>
      <div class = "formGroup">
        <br>
        <br>
        <button {{action "searchLocation"}} class ="btn btn-primary">Upload File CSV</button>
      </div>
    </div>
    <div id="inputexcel" class="container tab-pane fade"><br>
      <h3>Input File Excel</h3>
      <div class = "formGroup">
        <br>
        <br>
        <button {{action "searchLocation"}} class ="btn btn-primary">Upload File EXCEL</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<br/>
<br/>
{{#if locationfound}}
<html lang="en">
<head>
  <title>Lokasi Ditemukan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Lokasi Ditemukan</h2>
  <p>Berikut detil lokasi ditemukan dari longitude dan latitude diatas:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Desa</th>
        <th>Kecamatan</th>
        <th>Kabupaten</th>
        <th>Provinsi</th>
        <th>Region</th>
        <th>Area</th>
        <th>Branch</th>
        <th>Subbranch</th>
        <th>Cluster</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{locationfound.locationfound.desa}}</td>
        <td>{{locationfound.locationfound.kecamatan}}</td>
        <td>{{locationfound.locationfound.kabupaten}}</td>
        <td>{{locationfound.locationfound.provinsi}}</td>
        <td>{{locationfound.locationfound.region}}</td>
        <td>{{locationfound.locationfound.area}}</td>
        <td>{{locationfound.locationfound.branch}}</td>
        <td>{{locationfound.locationfound.subbranch}}</td>
        <td>{{locationfound.locationfound.cluster}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2">
      <button {{action "importcsv"}} class ="btn btn-primary">Import to CSV</button>
    </div>
    <div class="col-md-2">
      <button {{action "importcsv"}} class ="btn btn-primary">Import to EXCEL</button>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>

</body>
</html>
{{/if}}
